.recipe-page-head-title {
    font-weight: bold;
}

.recipe-page-desc {
    color: var(--text-color);
    font-size: 15px;
    line-height: 1.6;
}

.recipe-page-desc p {
    line-height: 1.6;
}

.recipe-page-hero-image {
    border: 1px solid rgba(143,143,143,0.25);
    border-radius: 10px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
}

.recipe-page-hero-image img {
    height: 540px;
    object-fit: cover;
}

.img-thumbnail {
    padding: 0;
    border-radius: 10px;
}

.recipe-page-tags {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
}

.recipe-page-tags-item {
    font-weight: 300;
    color: var(--text-color);
}

.tab-content {
    margin-bottom: 100px;
    padding: 50px 70px;
    border: 1px solid rgba(143,143,143,0.25);
    border-radius: 10px;
    font-size: 15px;
    color: var(--text-color);
    line-height: 2;
}

.nav-tabs {
    padding: 0 0 50px;
    text-align: center;
    border: 0;
    display: flex;
    justify-content: center;
}

.nav-tabs .nav-link {
    font-size: 35px;
    font-weight: 600;
    border: 0;
    font-family: var(--secondary-font);
    color: #666;
    text-transform: capitalize;
    padding: 0;
    position: relative;
    line-height: 1.7;
    margin: 0 20px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
    color: var(--main-color);
}

.nav-tabs .nav-link:before {
    position: absolute;
    content: "";
    bottom: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 0;
    height: 2px;
    background: var(--main-color);
    transition: all 0.2s ease;
    left: 0;
    right: 0;
}

.nav-tabs .nav-link:hover:before,
.nav-tabs .nav-link.active:before {
    opacity: 1;
    filter: alpha(opacity=100);
    width: 100%;
}

.recipe-review-list {
    border: 0;
    padding: 0;
}

.recipe-review-box {
    border-bottom: 1px solid #ECECEC;
    padding: 15px 0
}

.recipe-review-box:last-child {
    border-bottom: 0;
}

.recipe-review-customer {
    font-weight: bold;
    font-size: 18px;
}

.recipe-review-stars {
    color: #f7bc3d;
}

@media screen and (max-width: 991px) {
    .nav-tabs .nav-link {
        width: 100%;
    }

    .tab-content {
        padding: 25px 35px;
    }
}

.recipe-ingredients-list {
    padding-left: 0;
}