@import url('colors.css');
@import url('buttons.css');
@import url('inputs.css');
@import url('cards.css');
@import url('modules.css');
@import url('footer.css');
@import url('carousel.css');
@import url('flypage.css');

:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Roboto Slab', sans-serif;
}

body {
    font-family: var(--primary-font);
    color: #101116;
    position: relative;
}

.navbar {
    font-family: var(--secondary-font);
    padding: 1.375rem 0;
}

.navbar-nav .nav-link {
    font-weight: bold;
}

#loadingscreen {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}